.n{
  display: flex;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
  width: 96%;
}
.cert {
    font-size: 14px!important;
    padding-bottom: 10px;
}

.exp-con {
    display: flex;
    left: -10px;
    position: relative;
}

.exp-icon {
    align-items: center;
    display: flex;
}

.exp-role {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .third {
        display: flex;
        height: 98.2%;
    }
    .nav {
        display: flex;
        width: 100%;
        flex: 1;
    }
    .n {
        width: 99%;
    }
}
