footer{
  display: flex;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
}

.exp-con {
    display: flex;
    left: -10px;
    position: relative;
}

.exp-icon {
    align-items: center;
    display: flex;
}

.exp-role {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .third {
        display: flex;
        margin-right: 16px;
    }
    .cols {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding: 0 8px;
    }
}