footer{
  display: flex;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
}

.exp-con {
    display: flex;
    left: -10px;
    position: relative;
}

.exp-icon {
    align-items: center;
    display: flex;
}

.exp-role {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 600px) {
    .third {
        display: flex;
        margin-right: 16px;
    }
    .cols {
        display: flex;
    }
}

@media screen and (max-width: 600px) {
    .content {
        padding: 0 8px;
    }
}

.image-wrapper img {
  -webkit-mask-image: linear-gradient(to bottom, rgb(51, 49, 49) 90%, rgba(134, 134, 134, 0) 100%);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;

  mask-image: linear-gradient(to bottom, rgb(70, 69, 69) 90%, rgba(110, 110, 110, 0) 100%);
  mask-repeat: no-repeat;
  mask-size: cover;
}
